name: Java with Maven and Spring Boot

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Rerun Spring Boot application
        run: |
            sudo kill -9 `sudo lsof -t -i:8080` & sudo java -jar target/GithubActionDemo-0.0.1-SNAPSHOT.jar &